<div id="prescription-table">
	<% table.each do |prescription| %>
			<div id="prescription-<%= prescription.id -%>" class="row reminder">
			<%= render prescription %>
			</div>
	<% end %>
	
	<% if table.size == 0 %>
		No prescriptions saved
	<% end %>
</div>