<div id="help-text">
	<div id="fade">hide</div>
	<div id="help-content">
		<h2><%= link_to "Create Your First Reminder", new_reminder_path %></h2>
	
		The reminders feature is designed to assist in following up labs/studies for patients
		recently discharged or seen in clinic. Once a reminder is due you will receive a page
		daily reminding you to check on the study.
	</div>
</div>