<div id="reminder-table">
	<% table.each do |reminder| %>
		<%= render :partial => "/reminders/reminder", :object => reminder %>
	<% end %>

	<% if table.size == 0 %>
		<%= render :partial => "/reminders/reminder_help" -%>
	<% end%>
</div>