<div id="reminder-table">
	<% table.each do |reminder| %>
		<div id="reminder-<%= reminder.id -%>" class="reminder">
			<%= render :partial => "/reminders/reminder", :object => reminder %>
		</div>
	<% end %>

	<% if table.size == 0 %>
		<%= render :partial => "/reminders/reminder_help" -%>
	<% end%>
</div>