<div class="page-header">
	<h3>Logs</h3>
	<br/>
	<table class="table table-condensed">
	<% ApplicationLog.recent_logs.each do |l| %>
			<tr>
			<td>
				<% if l.user %>
					<span id="user"><%= l.user.name || "" %></span>
				<% end %>
				<span id="message"><%= l.message %></span>
				<span id="timestamp"><%= time_ago_in_words(l.created_at)%> ago</span>
			</td>
			</tr>
	<% end %>
	</table>
	
</div>