<div class="page-header">
	<h3>Reminder Lists</h3>
	<%= render :partial => '/reminder_lists/table', :object => ReminderList.find(:all) %>
</div>

<div class="page-header">
	<h3>Add Reminder</h3>
	<div id="add-form" class='small-form'>
		<%= render :partial => "/reminder_lists/form" %>
	</div>
</div>