<div class="page-header">

<h3>Consults (Yellows)</h3>
<%= link_to "Download / Print Yellow Consults", url_for(:action => "consults", :id => @dc_summary.id, :format => "pdf"), :target => "_blank" -%>


<% @dc_summary.consults.each do |c| %>
<dl>
	<dt><%= c.service.decrypt(session[:group_password]) %></dt>
	<dd><%= c.reason.decrypt(session[:group_password]) %></dd>
</dl>
<% end %>


</div>