<div class="page-header">
	<h1>D/C Summary for <%= @dc_summary.patient_name(session[:group_password])%> (<%= @dc_summary.mrn %>)</h1>
	<br/><br/>
	<h5>Copy and paste version for Clinical Workstation</h5>
<% benchmark("Rendering textarea version of dc summary") do %>

<textarea class="span8" rows="10">
<%= @dc_summary.summary(session[:group_password]) %>
<% end %>
</textarea>
	<br/><br/>
	<div class="row">
		<div class="span4">
			<button id="show-hide-dc-summary" class="btn btn-mini">Show Preview</button>
		</div>
	</div>
	
	<div class="row">
		<div id="dc-summary-content" class="span8">
		<%= @dc_summary.summary(session[:group_password]).gsub(/\n/, "<br/>").html_safe %>
		</div>
	</div>
</div>
