<div class="page-header">
	<h3>Patient Instructions</h3>
	<h5>Copy and paste version for Clinical Workstation</h5>
	
<textarea class="span8" rows="10">
<%= @dc_summary.instructions(session[:group_password]) %>
</textarea>
	<br/><br/>
	<div class="row">
		<div class="span4">	
			<button id="show-hide-patient-instructions" class="btn btn-mini">Show Preview</button>
		</div>
	</div>
	
	<div class="row">
		<div id="patient-instructions-content" class="span8">
	<%= @dc_summary.instructions(session[:group_password]).gsub(/\n/, "<br/>").html_safe

	%>
		</div>
	</div>
</div>
