<div class="page-header">	
	<h3>Reminder Lists You Are Supervising</h3>
	<p class="help-block">
		Below are all the reminder lists you have been assigned to supervise. You will receive an email daily
		for any reminders which are 3 days overdue or more.
	</p>
	<br/>
<% current_user.reminder_lists.each do |rl| %>

		<h4><%= rl.name %></h4>
		<%= render :partial => '/reminders/table', :object => rl.open_reminders unless rl.open_reminders.empty? %>
		<%= "<p class='help-block'>No pending reminders</p>".html_safe if rl.open_reminders.empty? %>
		<br/>

<% end%>
</div>