<ul>
	<li id="<%= 'selected' if controller.class == DashboardController %>"><%= link_to "Dashboard", :controller => "dashboard" %></li>
	<li><%= link_to "Lab Check", :controller => "reminders" %></li>
</ul>
