#alert, .alert {
	border: 1px solid red;
	background-color: pink;
	padding: 5px;
	color: red;
	text-align: center;
	width: 80%;
	margin: {
		left: auto;
		right: auto;
		bottom: 15px;
	}
	
	h2 {
		font-size: 15px;
	}
}

#notice, .notice {
	border: 1px solid green;
	background-color: lightgreen;
	padding: 5px;
	color: green;
	text-align: center;
	width: ($application-width - $sidebar-width) * 0.8;
	margin: {
		left: auto;
		right: auto;
		bottom: 15px;
	}
	
	h2 {
		font-size: 15px;
	}
}