#sideBarWrapper { 
  position: absolute;
  width: $sidebar-width - 30;
}

#followContent {
  position: absolute;
  top: 0;
  /* just used to show how to include the margin in the effect */
  padding-top: 19px;
  padding-left: 10px;
  width: $sidebar-width - 30;
}

#followContent.fixed {
  position: fixed;
  top: 0;
}