
#reminder-preferences {
	font-size: 14px;
	margin-bottom: 15px;
	
	h3 {
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 6px;
	}
	
	label {
		font-size: 14px;
		line-height: 16px;
	}
	
	input {
		margin-left: 20px;
		margin-bottom: 5px;
	}
}