.x-large-form {
	font-size: 13px;	
	width: 100%;
	
	label {
		font-size: 18px;
		line-height: 20px;
	}
	
	h3, .header-3 {
		font-size: 14px;
		text-align: left;
		padding-top: 5px;
		color: #ccc;
		border-top: 1px solid #ddd;
	}
	
	#change-password {
		display: none;
	}
	
	.required { 
		color: red;
		margin-right: 3px;
		line-height: 10px;
		display: inline-block;
		margin-bottom: 3px;
	}
	
	input[type="text"], input[type="email"], input[type="password"], select {
		margin-bottom: 15px;
		font-size: 18px;
	}
	
	textarea {
		margin-bottom: 15px;
	}
	
	.fullwidth {
		width: 100%;
	}
	
	.field_with_errors { 
		display: inline; 
		input, select, textarea {
			border: 1px solid red;
		}
	}
	
}


.large-form {
	font-size: 13px;
	width: 340px;
	
	label {
		font-size: 18px;
		line-height: 20px;
	}
	
	#change-password {
		display: none;
	}
	
	.required { 
		color: red;
		margin-right: 3px;
		line-height: 10px;
		display: inline-block;
		margin-bottom: 3px;
	}
	
	input[type="text"], input[type="email"], input[type="password"], select {
		margin-bottom: 15px;
		font-size: 18px;
	}
	
	.fullwidth {
		width: 100%;
	}
	
	.field_with_errors { display: inline;}
	
}

.small-form {
	font-size: 10px;	
	width: 240px;
	
	label {
		font-size: 12px;
		line-height: 14px;
	}
	
	#change-password {
		display: none;
	}
	
	.required { 
		color: red;
		margin-right: 3px;
		line-height: 10px;
		display: inline-block;
		margin-bottom: 3px;
	}
	
	input[type="text"], input[type="email"], input[type="password"], select {
		margin-bottom: 10px;
		font-size: 12px;
		width: 100%;
	}
	
	.field_with_errors { display: inline;}
	
}

.side-bar-form {
	font-size: 10px;	
	width: 240px;
	
	label {
		font-size: 12px;
		line-height: 12px;
	}
	
	#change-password {
		display: none;
	}
	
	.required { 
		color: red;
		margin-right: 3px;
		line-height: 10px;
		display: inline-block;
		margin-bottom: 3px;
	}
	
	input[type="text"], input[type="email"], input[type="password"], select {
		margin-bottom: 5px;
		font-size: 12px;
	}
	
	.fullwidth {
		width: 100%;
	}
	
	.field_with_errors { display: inline;}
	
}


#add-form, #add-form-consults {
	display: none;
}