$accent-color: navy;
$border-color: #777;
$highlight-color: #ffff99;
$application-width: 850px;
$sidebar-width: 250px;

@mixin shadow { 
	-moz-box-shadow: 0 0 30px 5px #222;
	-webkit-box-shadow: 0 0 30px 5px #222;
}

input.blur {
	color: #999;
}
			
html, body {
	background: {
		image: url('/assets/bg.gif');
		color: #6b6b6b;
		repeat: repeat-x;
	}
    font-family: arial;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 0;
	padding: 0;
	
	a, a:hover, a:visited {
		color: blue;
	}
}

#wrap {
	width: $application-width;
	margin: 0 auto;
	background: #ddd;
	background: {
		image: url('/assets/sidebar-bg.gif');
		repeat:y-repeat;
	}
	clear: both;
	@include shadow;
}

#header {
	background: {
		image: url('/assets/Olive-View-Logo.gif'); 
		repeat:no-repeat;
		color: $accent-color;
	}
	height: 58px;
	color: white;
	font-family: helvetica;
	text-align: left;
	font-size: 16px;
	padding: {
		top: 10px;
		left: 20px;	
	}
	
	#logo {
		float: left; margin-left: 80px;
	}
	
	#login {
		margin: {
			right: 30px;
			top: 5px;
		}
		float: right;
		font-size: 12px;
		color: $border-color;
		a, a:hover, a:visited, #email-address { color: white}
	}
	
}

#nav {
	background: $accent-color;
	padding-left: 30px;
	padding-top: 10px;
	border-bottom: 1px solid $border-color;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	#selected, #selected:hover {
		background: white;
		padding: 8px 0 10px 0;
		background: {
			image: url('/assets/selected-tab-bg.gif');
			repeat: repeat-x;
		}
		
		a {
			&:visited, &:hover { color: $accent-color }
		}
	}
	
	li {
		display: inline;
		margin: 0 3px 0 0;
		padding: 8px 0 7px 0;
		background: $border-color;
		background: {
			image: url('/assets/unselected-tab-bg.gif');
			repeat: repeat-x;
		}
		cursor: pointer;
		&:hover {background: #444 }
		line-height: 30px;
		a {
			color: white;
			text-decoration: none;
			padding: 0 5px;
		}
	}
}

#main {
	float:left;
	width:$application-width - $sidebar-width;
	background-color: white;
	border-right: 1px solid $border-color;

	h1 { 
		font-family: verdana, arial, sans-serif;
		color: black;
		text-transform:uppercase;
		font-size: 14px;
		letter-spacing: 2px
	}
		
	#unlock-phi-table {
		width: 500px;
	}
		
}

#sidebar {
	float:right;
	width:$sidebar-width - 1px;
	// background-color: #ddd; 
	background: {
		// image: url('/assets/sidebar-bg.gif');
		repeat:y-repeat;
	}
	font-size: 12px; 
	line-height: 16px;
	color: gray;
	font-family: arial;
	
	input[type="text"] {
		// border: 1px solid $border-color;
		// height: 18px;
		width: 150px;
	}
	
	#reminder_time_value {
		width: 50px;
	}
	
	h1 { 
		font-family: verdana, arial, sans-serif;
		color: $accent-color;
		text-transform:uppercase;
		font-size: 11px;
		letter-spacing: 1px
	}
	
	a {
		color: #444;
	}
}

#footer {
	clear:both;
	border-top: 1px solid $border-color;
	background-color: black;
	color: white;
	padding: 5px;
	font-size: 10px;
	margin: {
		top: 14px;
	}
	
	#left {
		float: left;
	}
	
	#right {
		float: right;
	}
	
	.clear {
		clear: both;
	}
}

#help-text {
	background: {
		color: $highlight-color;
		image: url('/assets/help-bg.gif');
		repeat: none;
	};
	border: 1px solid $border-color;
	font-family: arial;
	font-size: 12px;
	line-height: 16px;

	width: 400px;
	margin: {
		top: 20px;
		left: auto;
		right: auto;
	};
	
	#help-content {
		margin: {
			left: 10px;
			right: 10px;
			bottom: 5px;
		} 
	}
	
	h2 {
		color: black;
		font-size: 14px;
	}
	

}

#grayText {
	font-size: 12px;
	line-height: 16px;
	padding-top: 8px;
	padding-bottom: 10px;
	color: gray;
	font-family: arial;
	text-align: justify;
}

#fade {
	float: right;
	margin: {
		top: 4px;
		right: 4px;
	}
}

#phi-explanation {
	display: none;
}

#custom-button {
	display:inline-block
}

#contentCard {
	background-color: #fff;
	border-top: 1px solid #ddd;
	margin-bottom: 30px;
	
	#title {
		float: left;
	}
	
	#add-button {
		margin-top: 10px;
		float: right;
	}
	
	#add-form {
		margin-bottom: 20px;
	}
}

.reminder {
	#links { float: left }
	#content { margin-left: 60px }
	#mrn {color: $border-color }
	#overdue {color: red; font-size: 10px;}
	#due {color: green; font-size: 10px;}
	&:hover { background-color: $highlight-color }
	img { vertical-align: top }
	margin-bottom: 5px
}

.hidden {
	display: none;
}

#page-navigation-tabs {
	text-align: center;
}

@import "alert_notice";
@import "buttons";
@import "edit-user";
@import "forms";

// fix IE 6 footer bug
* html #footer {
height:1px;
}

