<div id="contentCard">
<h1>Start a D/C Summary</h1>
	<div class='x-large-form' style="margin-left: 25px; width: 530px">
	<% @dc_summary ||= DcSummary.new -%>
	<%= render :partial => "form" %>
	</div>
</div>