<div id="help-text">
	<div id="fade">hide</div>
	<div id="help-content">
		<h2><%= link_to "Create Your First D/C Summary", new_dc_summary_path %></h2>
	
		The D/C summary feature allows you to incrementally work on the discharge 
		paper for your patients. You will be able to generate prescriptions, "yellow"
		consultation requests, discharge instructions, and discharge summaries by
		filling out one form.<br/><br/>
		D/C summaries also integrate with the sign-out system to pre-fill as much information
		as possible, reducing the number of times data has to be entered.
	</div>
</div>