<div class="page-header">
<h3>Your Open D/C Summaries</h3>
<%= render :partial => '/dc_summaries/table', :object => current_user.dc_summaries_list %>
</div>

<% if current_user.recently_finalized_dc_summaries.size > 0 %>
<div class="page-header">
<h3>D/C Summaries Finalized within the last 5 days</h3>
<%= render :partial => '/dc_summaries/table', :object => current_user.recently_finalized_dc_summaries %>
</div>
<% end %>