<%= render :partial => '/shared/unlock_phi' -%>

<div id="contentCard">
<h1>Editing D/C Summary</h1>
	<% if session[:group_password] %>
		<div class='x-large-form' style="margin-left: 15px; width: 545px">
		<%= render :partial => "form_edit" %>
		</div>
	<% else %>
		<div id="alert">
			<b>Viewing and editing discharge summary locked.</b><br/><br/>
			Please provide the group password 
			in the form above to edit or view this discharge summary.
		</div>
	<% end %>
</div>

<% content_for :sidebar do %>
	<% if session[:group_password] %>
	<div id="sideBarWrapper">
	<div id="followContent">
		<%= render :partial => "edit_sidebar"%>
	</div>
	</div>
	<% end %>
<% end %>