<%= render :partial => '/shared/unlock_phi' -%>

<div id="contentCard">
<h1>Editing D/C Summary</h1>
	<div class='x-large-form' style="margin-left: 25px; width: 530px">
	<%= render :partial => "form_edit" %>
	</div>
</div>