<%= render :partial => '/shared/unlock_phi' -%>

	<% if session[:group_password] %>
		<%= javascript_tag do -%>
		  setInterval(function() {
		      $('.edit_dc_summary').submit()
		}, 300000);
		
		$(document).ready(function () {
		  var top = $('#followContent').offset().top - parseFloat($('#followContent').css('marginTop').replace(/auto/, 0));
			$(".alert").alert();

		  $(window).scroll(function (event) {
		    // what the y position of the scroll is
		    var y = $(this).scrollTop();

		    // whether that's below the form
		    if (y >= top) {
		      // if so, ad the fixed class
		      $('#followContent').addClass('fixed');
		    } else {
		      // otherwise remove it
		      $('#followContent').removeClass('fixed');
		    }
		  });
		});
		<% end -%>
	

	<% benchmark("Showing dc summary form edit partial") do %>
			<%= render :partial => "form_edit" %>
	<% end %>

	<% else %>
		<div class="alert alert-info">
			<h4 class="alert-heading">Viewing and editing discharge summary locked.</h4>
			Please provide the group password in the form above
			to edit or view this discharge summary.
		</div>
	<% end %>

<% content_for :sidebar do %>
	<% if session[:group_password] %>
	<div id="sideBarWrapper">
	<div id="followContent">
		<%= render :partial => "edit_sidebar"%>
	</div>
	</div>
	<% end %>
<% end %>