
<%= render :partial => "/dc_summaries/show_partials/dc_summary" %>
<%= render :partial => "/dc_summaries/show_partials/patient_instructions" %>
<%= render :partial => "/dc_summaries/show_partials/prescriptions" %>
	
<div id="contentCard">
	<h1>Consultation Requests</h1>
</div>