<div id="consult-<%= consult.id -%>" class="row reminder">
	<div id="links" class="span1">
		<%= link_to raw("<i class='i icon-remove'></i>"), {:action => "destroy", :id => consult.id, :controller => "consults"}, :method => :delete, :remote => true, :confirm => "Delete this consult?" %><span style="width: 10px">&nbsp;</span>
		<%= link_to raw("<i class='i icon-edit'></i>"), {:action => "edit", :id => consult.id, :controller => "consults"}, :remote => true %>
	</div>
	<div id="content" class="span5">
		<%= consult.service.decrypt(session[:group_password]) %>
	</div>
	<div style="clear: both"></div>
</div>