<div id="consult-table">
	<% table.each do |consult| %>
		<div id="consult-<%= consult.id -%>" class="row reminder">
			<%= render consult %>
		</div>
	<% end %>
	
	<% if table.size == 0 %>
		No consults saved
	<% end %>
</div>